extends layout

block content
 .p-4
  h4.text-center.mt-3
    b ABOUT US
  .mt-3
    | Welcome to Medical Store, your trusted partner in health and wellness. At Medical Store, we understand the importance of accessible and quality healthcare products, and we are committed to providing a seamless and reliable experience for all your medical needs.
