doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Login
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style(type='text/css').
      body {
      margin: 0;
      padding: 0;
      background: url('../images/loginbg.jpg') no-repeat center center fixed;
      background-size: cover;
      }
  body
    .container-fluid
      .row.mt-5
        .col-md-4.offset-md-4.offset-1.col-10.bg-white.p-5.rounded.mt-md-5
          h3.mb-3.text-primary
            b SIGN IN
          form
            .mb-4
              input#exampleInputEmail1.form-control.bg-light.border.border-0(type='email' placeholder='Email address' aria-describedby='emailHelp')
            .mb-4
              input#exampleInputPassword1.form-control.bg-light.border.border-0(type='password' placeholder='Password')
            .d-grid.gap-2.mt-2
              button.btn.btn-primary.mt-2(type='button')
                i.bi.bi-box-arrow-in-right
                | Sign In
            .bg-danger.border.border-1
              p
        .offset-4.col-4
          p.text-center.text-dark.mt-2
            | Already have an account? 
            a(style='text-decoration: none;' href='#') Login here
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL' crossorigin='anonymous')
